<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="login-title">Login</h5>
                <p>Connect with social network</p>
                <ul class="social-signup">
                    <li class="social-signup__button social-signup__button--facebook">
                        <a href="#">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebookfilled"></use>
                            </svg>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li class="social-signup__button social-signup__button--google">
                        <a href="#">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#google"></use>
                            </svg>
                            <span>Google</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <p class="modal-body__title">Log in with your email address</p>
                <form action="index.html" method="post">
                    <div class="modal-body__input">
                        <label for="email">Email</label>
                        <input type="text" name="email">
                    </div>
                    <div class="modal-body__input">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                </form>
                <div class="modal-body__bottom">
                    <button type="button">Login</button>
                    <a href="#">
                        <p>Forgot Password</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="signup-title">Hey there!</h5>
                <p>
                    9GAG is your best source for fun. Share anything you find interesting,
                     get real responses from people all over the world,
                      and discover what makes you laugh.
                </p>
                <ul class="social-signup">
                    <li class="social-signup__button social-signup__button--facebook">
                        <a href="#">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebookfilled"></use>
                            </svg>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li class="social-signup__button social-signup__button--google">
                        <a href="#">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#google"></use>
                            </svg>
                            <span>Google</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="modal-body__alternative">
                    <span>Sign up with your</span>
                    <a href="#">Email Address</a>
                </div>
                <div class="modal-body__alternative">
                    <span>Have an account?</span>
                    <a href="#">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
