<div class="top-nav">
    <div class="container top-nav__navbar">
        <div class="row">
            <div class="col-lg-9 top-nav__navbar">
                <ul class="top-nav__navbar__lists">
                    <li class="top-nav__navbar__lists__list">
                        <a href="#">
                            <img class="top-nav__navbar__lists__list__logo" src="https://assets-9gag-fun.9cache.com/s/fab0aa49/4a65e711e4b91d570edc7be24f915d7b063aef3a/static/dist/web6/img/sprite-logo.png" alt="9GAG">
                        </a>
                    </li>
                    <li class="top-nav__navbar__lists__list">
                        <a href="#">
                            Get Our App!
                        </a>
                    </li>
                    <li class="top-nav__navbar__lists__list">
                        <a href="#">
                            Join Us!
                        </a>
                    </li>
                    <li class="top-nav__navbar__lists__list">
                        <a href="#">
                            Official 9GAG Shop
                        </a>
                    </li>
                    <li class="top-nav__navbar__lists__list">
                        <a href="#">
                            Fun Off Contest
                        </a>
                    </li>
                    <li class="top-nav__navbar__lists__list">
                        <a href="#">
                            Anime Wallpaper
                        </a>
                    </li>
                    <li class="top-nav__navbar__lists__list">
                        <a href="#">
                            Game of Thrones
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 function justify-content-end">
                <ul class="function__general">
                    <li class="function__general__list">
                        <a href="#">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#halfmoon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="function__general__list">
                        <div class="dropdown">
                            <a href="#" role="button" id="navbar-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                                </svg>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbar-search">
                                <input type="text" name="search" placeholder="Type to search...">
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="function__visitor">
                    <li class="function__visitor__list">
                        <a class="mute-btn" href="#" data-toggle="modal" data-target="#login-modal">
                            Log in
                        </a>
                    </li>
                    <li class="function__visitor__list">
                        <a class="primary-btn" href="#" data-toggle="modal" data-target="#signup-modal">
                            Sign up
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
