<div class="top-nav">
    <div class="container">
        <div class="row top-nav__navbar">
            <div class="col-lg-8 top-nav__navbar--left">
                <ul class="top-nav__navbar__lists">
                    <li class="top-nav__navbar__lists__list">9GAG</li>
                    <li class="top-nav__navbar__lists__list">Get Our App</li>
                    <li class="top-nav__navbar__lists__list">Anime Waifu</li>
                    <li class="top-nav__navbar__lists__list">Join Us!</li>
                    <li class="top-nav__navbar__lists__list">Official 9GAG Shop</li>
                    <li class="top-nav__navbar__lists__list">Fun Off Contest</li>
                    <li class="top-nav__navbar__lists__list">Game of Thrones</li>
                </ul>
            </div>
            <div class="col-lg-4 top-nav__navbar--right">
                <ul class="top-nav__navbar__lists">
                    <li class="top-nav__navbar__lists__list">Moon</li>
                    <li class="top-nav__navbar__lists__list">Search</li>
                    <li class="top-nav__navbar__lists__list">Notification</li>
                    <li class="top-nav__navbar__lists__list">Profile</li>
                    <li class="top-nav__navbar__lists__list">Upload</li>
                </ul>
            </div>
        </div>
    </div>
</div>
