<div class="side-menu">
    <ul class="side-menu__lists popular">
        <li class="side-menu__lists__title">
            <h3>popular</h3>
        </li>
        <li class="side-menu__lists__list{{#is custom_basename 'hot'}} active{{/is}}">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hot"></use>
                </svg>
                <span>Hot</span>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trending"></use>
                </svg>
                <span>Trending</span>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fresh"></use>
                </svg>
                <span>Fresh</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu__lists sections">
        <li class="side-menu__lists__title">
            <h3>sections</h3>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/funny.jpg" alt="funny">
                <span>Funny</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/animals.jpg" alt="animals">
                <span>Animals</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/anime.jpg" alt="anime">
                <span>Anime & Manga</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/waifu.jpg" alt="waifu">
                <span>Anime Waifu</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/anime_wallpaper.jpg" alt="anime wallpaper">
                <span>Anime Wallpaper</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/apex.jpg" alt="apex">
                <span>Apex Legends</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/ask.jpg" alt="ask">
                <span>Ask 9GAG</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/awesome.jpg" alt="awesome">
                <span>Awesome</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/basketball.jpg" alt="basketball">
                <span>Basketball</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/car.jpg" alt="car">
                <span>Car</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/comic.jpg" alt="comic">
                <span>Comic</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/cosplay.jpg" alt="cosplay">
                <span>Cosplay</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/countryballs.jpg" alt="countryballs">
                <span>Countryballs</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/classical.jpg" alt="classical">
                <span>Classical Art Memes</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/diy.jpg" alt="diy">
                <span>DIY & Crafts</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/drawing.jpg" alt="drawing">
                <span>Drawing & Illustration</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/food.jpg" alt="food">
                <span>Food & Drinks</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/football.jpg" alt="football">
                <span>Football</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/fortnite.jpg" alt="fornite">
                <span>Fortnite</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/game_of_thrones.jpg" alt="game of thrones">
                <span>Game of Thrones</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/gaming.jpg" alt="gaming">
                <span>Gaming</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/gif.jpg" alt="gif">
                <span>GIF</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/girl.jpg" alt="girl">
                <span>Girl</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/celebrity.jpg" alt="celebrity">
                <span>Girl Celebrity</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/girly_things.jpg" alt="girly things">
                <span>Girly Things</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/guy.jpg" alt="guy">
                <span>Guy</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/history.jpg" alt="history">
                <span>History</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/horror.jpg" alt="horror">
                <span>Horror</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/home.jpg" alt="home">
                <span>Home Design</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/k-pop.jpg" alt="k-pop">
                <span>K-Pop</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/league_of_legends.jpg" alt="league of legends">
                <span>League of Legends</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/lego.jpg" alt="lego">
                <span>Lego</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/movie.jpg" alt="movie">
                <span>Movie & TV</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/music.jpg" alt="music">
                <span>Music</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/nsfw.jpg" alt="nsfw">
                <span>NSFW</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/overwatch.jpg" alt="overwatch">
                <span>Overwatch</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/pc_master_race.jpg" alt="pc master race">
                <span>PC Master Race</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/photography.jpg" alt="photography">
                <span>Photography</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/pokemon.jpg" alt="pokemon">
                <span>Pokemon</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/politics.jpg" alt="politics">
                <span>Politics</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/relationship.jpg" alt="relationship">
                <span>Relationship</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/pubg.jpg" alt="pubg">
                <span>PUBG</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/roast_me.jpg" alt="roast me">
                <span>Roast Me</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/savage.jpg" alt="savage">
                <span>Savage</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/satisfying.jpg" alt="satisfying">
                <span>Satisfying</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/school.jpg" alt="school">
                <span>School</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/sci-tech.jpg" alt="sci-tech">
                <span>Sci-Tech</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/star_wars.jpg" alt="star wars">
                <span>Star Wars</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/superhero.jpg" alt="superhero">
                <span>Superhero</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/surreal.jpg" alt="surreal">
                <span>Surreal Memes</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/sport.jpg" alt="sport">
                <span>Sport</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/travel.jpg" alt="travel">
                <span>Travel</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/timely.jpg" alt="timely">
                <span>Timely</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/video.jpg" alt="video">
                <span>Video</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/warhammer.jpg" alt="warhammer">
                <span>Warhammer</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/wallpaper.jpg" alt="wallpaper">
                <span>Wallpaper</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/wtf.jpg" alt="wtf">
                <span>WTF</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <img src="assets/images/dark.jpg" alt="dark">
                <span>Dark Humor</span>
            </a>
            <a class="star-hover" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
