.content {
    position: relative;
    top: 50px;
    left: 224px;
    height: 100%;
    background: white;
    overflow: scroll;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;
    width: 640px;
    &::-webkit-scrollbar {
        display: none;
    }
    padding-top: 48px;
    &__featured-tag {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 12px;
        a {
            display: block;
            height: 32px;
            line-height: 32px;
            margin-right: 8px;
            margin-bottom: 8px;
            background-color: $sidenav-hover-color;
            color: $navbar-color;
            text-decoration: none;
            padding: 0 8px;
            border-radius: 2px;
            text-align: center;
        }
    }
    &__list {
        a {
            text-decoration: none;
            color: $navbar-color;
            h1 {
                font-size: 20px;
                margin-bottom: 8px;
            }
            img {
                width: 500px;
            }
        }

    }
}

.post-section {
    display: inline-block;
    a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-decoration: none;
        margin-bottom: 8px;
        img {
            width: 20px;
            height: 20px;
            border-radius: 2px;
            margin-right: 4px;
        }
        p {
            color: $post-text-color;
            font-size: 12px;
        }
    }
}

.post-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px 0;
    a {
        text-decoration: none;
        color: $post-text-color;
    }
    div {
        color: $post-text-color;
        margin: 0 4px;
    }
}

.post-afterbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .btn-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .btn-vote {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            &__list {
                border: 1px solid #ccc;
                border-radius: 2px;
                width: 44px;
                height: 34px;
                line-height: 34px;
                text-align: center;
                margin-right: 8px;
                &:hover {
                    border-color: #999;
                }
                a {
                    .svg-icon {
                        height: 25px;
                        width: 25px;
                        fill: $post-text-color;
                    }
                }
            }
        }
    }
    .btn-right {
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        &__list {
            font-weight: 700;
            height: 34px;
            line-height: 34px;
            padding: 0 10px;
            border-radius: 2px;
            text-align: center;
            a {
                text-decoration: none;
                color: #fff;
                svg {
                    width: 20px;
                    height: 20px;
                    fill: #fff;
                }
            }
            &--facebook {
                background-color: #3b5998;
                margin-right: 8px;
            }
            &--pinterest {
                background-color: #bd081c;
            }

        }

    }
}
