.content {
    position: relative;
    top: 50px;
    left: 224px;
    height: 100%;
    background: white;
    overflow: scroll;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
        display: none;
    }
    padding-top: 48px;
    &__featured-tag {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 12px;
        a {
            display: block;
            height: 32px;
            line-height: 32px;
            margin-right: 8px;
            margin-bottom: 8px;
            background-color: $sidenav-hover-color;
            color: $navbar-color;
            text-decoration: none;
            padding: 0 8px;
            border-radius: 2px;
            text-align: center;
        }
    }
    &__list {
        a {
            text-decoration: none;
            color: $navbar-color;
            h1 {
                font-size: 20px;
            }
            img {
                width: 500px;
            }
        }

    }
}
