$navbar-color: #000;
$navbar-text-color: hsla(0,0%,100%,.6);
$border-radius: 2px;
$sidenav-hover-color: rgba(0,0,0,.06);
$sidenav-active-color: rgba(0,0,0,.05);
$sidenav-star-color: hsl(0, 0%, 56%);
$sidenav-star-active-color: hsla(47, 97%, 51%, 1);
