---
custom_basename: hot
---
<div class="content">
    <div class="content__featured-tag">
        <a href="#">Avengers</a>
        <a href="#">Endgame</a>
        <a href="#">Love Death Robots</a>
        <a href="#">Captain Marvel</a>
        <a href="#">Pokemon</a>
    </div>
</div>
