.side-menu {
    position: fixed;
    top: 50px;
    height: 100%;
    background: white;
    width: 192px;
    overflow: scroll;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar{
        display: none;
    }
    padding: 24px 20px 80px 0;
    &__lists {
        &__list {
            color: $navbar-color;
            font-size: 14px;
            height: 36px;
            line-height: 36px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            border-radius: 2px;
            -webkit-transition: background-color .15s,padding-right .15s;
            transition: background-color .15s,padding-right .15s;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 8px;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                text-decoration: none;
            }
            span {
                margin-left: 10px;
                color: $navbar-color;
            }
            svg, img {
                width: 24px;
                height: 24px;
            }
            &.active {
                background-color: $sidenav-active-color;
            }
            .star-hover {
                    fill: #fff;
            }
            &:hover {
                background-color: $sidenav-hover-color;
                cursor: pointer;
                .star-hover {
                    fill: $sidenav-star-color;
                }
                .star {
                    fill: $sidenav-star-active-color;
                }
            }
            .star {
                fill: $sidenav-star-active-color;
                &:hover {
                    fill: $sidenav-star-active-color;
                }
            }
        }
        &__title h3 {
            line-height: 16px;
            height: 16px;
            margin-bottom: 8px;
            color: #999;
            font-size: 12px;
            text-transform: uppercase;
        }
        &__title {
            .title-hide {
                display: none;
            }
        }
        .sections {
            .side-menu__lists__list {
                &:last-child {
                    &:hover {

                    }
                }
            }
        }
    }
}
